<%- content_for :header do -%>
	<div id="page_info">
		<h2><%= link_to_user h("user: #{@user.name}"), @user %></h2>
		<div class="pager period">
			<div class="previous">
				<%= link_to_user h('<<'), @user, @previous_date %>
			</div>
			<div class="next">
				<%= link_to_user h('>>'), @user, @next_date %>
			</div>
			<div class="this">
				<%= link_to_user format_period(@from_date, @to_date), @user, @from_date %>
			</div>
		</div>
	</div>
<%- end -%>

<%= render :partial => 'messages', :locals => {
	:date_row     => true,
	:has_channel  => true,
	:has_nickname => false,
} %>
