<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>IRC Log</title>
<%= stylesheet_link_tag 'base' %>
<%= stylesheet_link_tag controller.controller_path %>
<%= javascript_include_tag 'vendor/jquery/jquery-1.2.6.min' %>
<%= javascript_include_tag 'search' %>
<%= yield :head -%>
</head>
<body>
